* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px !important;
}

/****Chatbot Container*/
.chatbot-container {
  position: fixed;
  right: 20px;
  bottom: 20px;
  height: 95dvh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 30px;
  background: black;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
  width: 618px;
  transition: width 0.6s ease;
}
.chatbot-container.expanded {
  width: 98%;
}
@media (max-width: 900px) {
  .chatbot-container,
  .chatbot-container.expanded {
    width: 100%;
    height: 100dvh;
    right: 0;
    bottom: 0;
    border-radius: 0px;
    gap: 0px;
  }
}
/****Header Container*/
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px 0px 30px;
}
.header-imgCont {
  display: flex;
  gap: 12px;
  align-items: center;
}
.header-imgCont h1 {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.header-imgCont h2 {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* border: 1px solid white; */
}
.header-left-icons {
  display: flex;
  align-items: center;
  gap: 14px;
}
.header-left-icons img {
  width: 25px;
  height: 21.25px;
  cursor: pointer;
}
@media (max-width: 900px) {
  .header-container {
    padding: 10px;
  }
  .logo {
    width: 25px;
    height: 25px;
  }
  .header-left-icons {
    gap: 5px;
  }
  .header-imgCont h1 {
    font-size: 14px;
  }
  .header-imgCont h2 {
    font-size: 12px;
  }
  .header-left-icons img {
    width: 15px;
    height: 15px;
  }
  .expand-icon {
    display: none;
  }
}
/****Body Container*/
.body-container {
  flex-grow: 1;
  background-color: #fff;
  /* padding-bottom: 40px; */
}
.theme2 {
  border-radius: 20px;
  margin: 0px 10px;
}
@media (max-width: 900px) {
  .theme2 {
    margin: 0px 5px;
  }
}
/****Footer Container*/
.footer {
  height: 35px;
}

.footer p {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  text-decoration-line: underline;
  padding: 5px 20px;
}

/****Body Chat*/
.body-chat {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 18px;
  height: 100%;
  justify-content: space-between;
}

.logo-chat {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.chat {
  display: flex;
  gap: 14px;
  align-items: flex-start;
}
.message {
  padding: 10px 15px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: #f5f5f5;
  max-width: 450px;
}
.user {
  direction: rtl;
}
.response-chat-cont {
  display: flex;
  flex-direction: column;
  gap: 14px;
  height: calc(100vh - 400px);
  overflow-y: scroll;
  padding: 5px;
}

@media (max-width: 900px) {
  .response-chat-cont {
    height: calc(100vh - 300px);
  }
  .message {
    max-width: 80%;
    font-size: 14px;
    padding: 10px;
  }
  .logo-chat {
    width: 25px;
    height: 25px;
  }
  .body-chat {
    padding: 10px;
  }
}

/*****Chat image*******/
.response-image {
  max-height: 200px;
}
@media (max-width: 900px) {
.response-image {
 width: 100%;
}
}
/****bot tools*/
.tools-cont {
  display: flex;
  align-items: center;
  gap: 14px;
}
.send-icon {
  background-color: black;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  padding: 10px 2px;
}
@media (max-width: 900px) {
  .send-icon {
    width: 35px;
    height: 35px;
  }
}
/****chat text area*/
.textarea-cont {
  border-top: 1px solid #0d4261;
  padding: 8px;
}
.textarea-cont textarea {
  width: 100%;
  resize: none;
  font-size: 14px;
  border: none;
}
.textarea-cont textarea:focus {
  outline: none;
  border: none;
}
.textarea-cont textarea::placeholder {
  color: #888;
  font-size: 14px;
  font-weight: 400;
}
.chat-input-tools-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-control {
  display: flex;
  flex-direction: column;
}
/*****questions*/
.questions-cont {
  align-self: flex-end;
  display: flex;
  flex-direction: row-reverse;
  gap: 6px;
  flex-wrap: wrap;
  max-width: 70%;
  padding-bottom: 5px;
}
.questions-cont p {
  cursor: pointer;
  padding: 8px 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  border-radius: 6px;
  background: rgba(255, 104, 0, 0.6);
}
@media (max-width: 900px) {
  .questions-cont {
    max-width: 100%;
  }
  .questions-cont p {
    font-size: 12px;
  }
}
